
@{
    ViewBag.Title = "dareport";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}

<script>

    function current() {
        var today = new Date();
        var dayOfWeekStartingSundayZeroIndexBased = today.getDay(); // 0 : Sunday ,1 : Monday,2,3,4,5,6 : Saturday
        var mondayOfWeek = new Date(today.getFullYear(), today.getMonth(), today.getDate() - today.getDay() + 1);
        var sundayOfWeek = new Date(today.getFullYear(), today.getMonth(), today.getDate() - today.getDay() + 7);

        $("#weekStartDate").val($.date(mondayOfWeek));
        $("#weekEndDate").val($.date(sundayOfWeek));
    }

    function prev() {
        // alert("previous clicked");
        var dt = new Date($('#weekStartDate').val());
        dt.setDate(dt.getDate() - 7); // subtract 7 days
        $('#weekStartDate').val($.date(dt));

        var enddt = new Date($('#weekEndDate').val());
        enddt.setDate(enddt.getDate() - 7); // subtract 7 days
        $('#weekEndDate').val($.date(enddt));

        highlightWeek();
    }

    function next() {
        //alert("next clicked");
        var dt = new Date($('#weekStartDate').val());
        dt.setDate(dt.getDate() + 7); // add 7 days
        $('#weekStartDate').val($.date(dt));

        var enddt = new Date($('#weekEndDate').val());
        enddt.setDate(enddt.getDate() + 7); // add 7 days
        $('#weekEndDate').val($.date(enddt));

        highlightWeek();
    }

    function highlightWeek() {
        var clkDt = new Date($('#weekStartDate').val());
        var clickDay = clkDt.getDate(); //this is the value we want to select in cal
        $('.ui-datepicker-calendar > tbody > tr').each(function () {
            $(this).children('td').each(function () {
                var dy = $(this).first('a');
                console.log('dy: ' + dy.text() + '--clickDay: ' + clickDay);
                if (dy.text() == clickDay) {
                    dy.click();
                }
            });
        });
    }

    $.date = function (dateObject) {
        var d = new Date(dateObject);
        var day = d.getDate();
        var month = d.getMonth() + 1;
        var year = d.getFullYear();
        if (day < 10) {
            day = "0" + day;
        }
        if (month < 10) {
            month = "0" + month;
        }
        var date = month + "/" + day + "/" + year;

        return date;
    };
    $(function () {
        $("#btnNext").click(function () {
            next();
        });
        $("#btnPrev").click(function () {
            prev();
        })
        $('input[type=radio][name=radio1]').change(function () {
            if (this.value == 'Prev') {
                prev();
            } else if (this.value == 'Next') {
                next()
            } else {
                current();
            }
        });

        var today = new Date();
        var dayOfWeekStartingSundayZeroIndexBased = today.getDay(); // 0 : Sunday ,1 : Monday,2,3,4,5,6 : Saturday
        var mondayOfWeek = new Date(today.getFullYear(), today.getMonth(), today.getDate() - today.getDay() + 1);
        var sundayOfWeek = new Date(today.getFullYear(), today.getMonth(), today.getDate() - today.getDay() + 7);

        $("#weekStartDate").val($.date(mondayOfWeek));
        $("#weekEndDate").val($.date(sundayOfWeek));

        $("#date").datepicker();
        var startDate;
        var endDate;

        var selectCurrentWeek = function () {
            window.setTimeout(function () {
                $('.week-picker').find('.ui-datepicker-current-day a').addClass('ui-state-active')
            }, 1);
        }
        $('.week-picker').datepicker({
            showWeek: true,
            firstDay: 1,
            changeMonth: true,
            changeYear: true,
            showOtherMonths: true,
            selectOtherMonths: true,
            onSelect: function (dateText, inst) {
                var date = $(this).datepicker('getDate');
                startDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() - date.getDay());
                endDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() - date.getDay() + 6);
                var dateFormat = inst.settings.dateFormat || $.datepicker._defaults.dateFormat;
                $("#weekStartDate").val($.datepicker.formatDate(dateFormat, startDate, inst.settings));
                $("#weekEndDate").val($.datepicker.formatDate(dateFormat, endDate, inst.settings));
                selectCurrentWeek();
                $('input[type=radio][name=radio1]').prop('checked', false);
            },
            beforeShowDay: function (date) {
                var cssClass = '';
                if (date >= startDate && date <= endDate)
                    cssClass = 'ui-datepicker-current-day';
                return [true, cssClass];
            },
            onChangeMonthYear: function (year, month, inst) {
                selectCurrentWeek();
            }
        });
    });


</script>
<div class="outer-w3-agile mt-3">
    <h4 class="tittle-w3-agileits mb-4">DA Report Card Weekly</h4>
    @using (Html.BeginForm("dareport", "Performans", FormMethod.Post, new { @databvalidatorvalidate = "", @databvalidatortheme = "bs3form" }))
    {


        <div class="radio-group-1">

            <div class="row">
                <input type="button" value="<" id="btnPrev" />
                <input type="text" readonly id="weekStartDate" name="start" />
                <input type="text" readonly id="weekEndDate" name="end" />
                <input type="button" value=">" id="btnNext" />
            </div>
            <div class="week-picker"></div>

        </div>
        
        <div class="form-group">
            <label for="inputAddress">Full Name</label>

          
            @Html.DropDownList("t_id",ViewData["dlist"] as List<SelectListItem>,"Select DA Name",new { @class = "form-control" })

            @*<input type="text" class="form-control" id="inputAddress" placeholder="Enter Full Name" required="">*@
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
        <div>@ViewBag.msg</div>


    }

</div>


