
@using deliverymangementsystem.EDM

@{
    var dc = new dsdatabaseEntities();

    //var con_id = int.Parse(Session["con_id"].ToString());

}
<script>

    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#img1').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    
    $(document).ready(function () {
        
        $("#file1").change(function () {

            readURL(this);
        });

    });

</script>


<div class="outer-w3-agile mt-3">
    <h4 class="tittle-w3-agileits mb-4">Upload Driver Performance Report</h4>
    @using (Html.BeginForm("UploadDriverReportFile", "Performans", FormMethod.Post, new { @id = "form1", @enctype = "multipart/form-data", @databvalidatorvalidate = "", @databvalidatortheme = "bs3form" }))
    {
        @*<input type="hidden" value="@TempData["con_id"]" id="con_id" />

        <input type="hidden" value="@dc.tblconcessions.Find(con_id).DriverReportFileName" id="hdnImg2" name="hdnImg2" />*@

        <div class="form-group">
            @*<label for="inputAddress">Upload driver score card</label>*@
            <br />
            @*<img src="/DriverConcessionPDFs/@dc.tblconcessions.Find(con_id).DriverReportFileName" id="img1" width="100" height="100" />*@

            @*<label id="lblScoreCard"> @dc.tblconcessions.Find(con_id).DriverReportFileName </label> &nbsp;&nbsp;&nbsp;*@

            @*@if (dc.tblconcessions.Find(con_id).DriverReportFileName != null)
            {
            <embed id="img1" src="/DriverConcessionPDFs/@dc.tblconcessions.Find(con_id).DriverReportFileName" type="application/pdf" height="200" width="430" style="border:double;">
            }*@
            <input type="file" id="file1" name="file1" />
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Update</button>
        <div>@ViewBag.msg</div>

    }

</div>
