<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="CCEmailID" value="lmdl.deliverysystems@gmail.com" />
    <add key="CCEmailIDHR" value="hirals@lastmiled.com" />
    
    <add key="CCEmailIDHRs" value="hirals@lastmiled.com,vaibhavmawale123@gmail.com" />
    
    <!--values Show - to show error Hide - not to show error-->
    <add key="ShowErrorAndCreds" value="Show" />
    
    <!--<add key="smtpServer" value="a2plcpnl0353.prod.iad2.secureserver.net" />
    <add key="EnableSsl" value="false" />
    <add key="smtpPort" value="587" />
    <add key="smtpUser" value="test@lastmiled.com" />
    <add key="smtpPass" value="Lastmiled@2020" />-->
    
    <!--<add key="smtpServer" value="vsnform.com" />
    <add key="EnableSsl" value="true" />
    <add key="smtpPort" value="587" />
    <add key="smtpUser" value="noreply@vsnform.com" />
    <add key="smtpPass" value="noreply@2020" />-->
    <!--zohomail.cftclients.com-->
    
    <!--<add key="smtpServer" value="smtp.zoho.com" />
    <add key="EnableSsl" value="true" />
    <add key="smtpPort" value="465" />
    <add key="smtpUser" value="noreply@lastmiled.com" />
    <add key="smtpPass" value="Lastmiled@999" />-->
    
    <add key="smtpServer" value="cftclients.com" />
    <add key="EnableSsl" value="false" />
    <add key="smtpPort" value="587" />
    <add key="smtpUser" value="lastmiled@cftclients.com" />
    <add key="smtpPass" value="Lastmiled@2020" />
    
    <!--<add key="smtpServer" value="smtp.gmail.com" />
    <add key="EnableSsl" value = "true"/>
    <add key="smtpPort" value="587" />
    <add key="smtpUser" value="testmailforcode1405@gmail.com" />
    <add key="smtpPass" value="test@$123" />-->
  
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.2" defaultLanguage="c#">
      <assemblies>
        <add assembly="Syncfusion.Compression.Base, Version=16.3450.0.21, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.Pdf.Base, Version=16.3450.0.21, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
      </assemblies>
    </compilation>
    <customErrors mode="Off" defaultRedirect="mycustompage.htm" />
    <httpRuntime targetFramework="4.6.1" maxRequestLength="1048576" />
    <trust level="Full" />
    <globalization culture="en-US" uiCulture="en-US" />
    <httpHandlers>
      <add verb="*" path="captimage.axd" type="Syncfusion.JavaScript.ImageHandler, Syncfusion.EJ, Version=16.3450.0.21, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
    </httpHandlers>
    <pages>
      <namespaces></namespaces>
    </pages>
    <sessionState timeout="15"></sessionState>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add verb="*" path="captimage.axd" name="syncfusion_generatetools" type="Syncfusion.JavaScript.ImageHandler, Syncfusion.EJ, Version=16.3450.0.21, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
    </handlers>
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Licensing" publicKeyToken="632609b4d040f6b4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.3460.0.21" newVersion="16.3460.0.21" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers />
  </system.codedom>
  <connectionStrings>
    <!--Live-->
    <!--<add name="dsdatabaseEntities" connectionString="metadata=res://*/EDM.Model1.csdl|res://*/EDM.Model1.ssdl|res://*/EDM.Model1.msl;
         provider=System.Data.SqlClient;provider connection string=&quot;
         Data Source=192.185.7.213;
         Initial Catalog=lastmiled_dsdb;
         User ID=lastmiled_dsdb;
         Password=Tejas@#$123;
         MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="test"  connectionString="Data Source=192.185.7.213;Initial Catalog=lastmiled_dsdb;User ID=lastmiled_dsdb;Password=Tejas@#$123" providerName="System.Data.SqlClient"/>-->
    
    <!--Demo-->
    <!--<add name="dsdatabaseEntities" connectionString="metadata=res://*/EDM.Model1.csdl|res://*/EDM.Model1.ssdl|res://*/EDM.Model1.msl;
         provider=System.Data.SqlClient;provider connection string=&quot;
         Data Source=192.185.7.213;
         Initial Catalog=lastmiled_demo_22052020;
         User ID=lastmiled_dsdb;
         Password=Tejas@#$123;
         MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="test"  connectionString="Data Source=192.185.7.213;Initial Catalog=lastmiled_demo_22052020;User ID=lastmiled_dsdb;Password=Tejas@#$123" providerName="System.Data.SqlClient"/>-->
    
    <!--Local-->
    <add name="test" connectionString="Data Source =DESKTOP-ST5ILMG\SQLEXPRESS;Initial Catalog=lastmild_dsdb_local03042020;Integrated Security=True" />
    <add name="dsdatabaseEntities" connectionString="metadata=res://*/EDM.Model1.csdl|res://*/EDM.Model1.ssdl|res://*/EDM.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-ST5ILMG\SQLEXPRESS;initial catalog=lastmild_dsdb_local03042020;user id=sa;password=ViBeS@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>